# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build / frontend
dist
frontend
package-lock.frontend.json
package.frontend.json

# IDEs / OS
.vscode
.idea
.DS_Store

# Misc
*.log